#house_hunting {
}
.house_hunting_inner {
}
.wall {
  background: #fcdfeb;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 50px;
  padding: 100px 150px 0;
}
.checklist {
  flex: 2.5;
  z-index: 2;
  padding-bottom: 15%;
}
.monitor {
  flex: 5;
  z-index: 2;
  margin-bottom: -70px;
}
.book {
  flex: 2;
  z-index: 2;
  margin-bottom: -90px;
}
.desk {
  background: #d9a482;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 50px;
  padding: 130px 150px 100px;
  border-top: 1.7px solid #4c241e;
}
.cup {
  flex: 2;
}
.keyboard {
  flex: 6.5;
}
.mouse {
  flex: 1.5;
}
/* 호버 이미지 */
.checklist:hover {
  background: url(../img/house_hunting/checklist_h.png) no-repeat top center;
  background-size: contain;
}
.monitor:hover {
  background: url(../img/house_hunting/monitor_h.png) no-repeat top center;
  background-size: contain;
}
.book:hover {
  background: url(../img/house_hunting/book_h.png) no-repeat top center;
  background-size: contain;
}
@media (max-width: 1200px) {
  .wall {
    gap: 30px;
    padding: 100px 20px 0;
  }
  .desk {
    gap: 50px;
    padding: 130px 50px 100px;
  }
}
@media (max-width: 850px) {
  .wall {
    gap: 20px;
    padding: 120px 20px 0;
  }
  .desk {
    gap: 50px;
    padding: 120px 30px 50px;
    border-top: 1px solid #4c241e;
  }
  .checklist {
    flex: 2.5;
    z-index: 2;
    padding-bottom: 15%;
  }
  .monitor {
    flex: 5;
    z-index: 2;
    margin-bottom: -50px;
  }
  .book {
    flex: 2;
    z-index: 2;
    margin-bottom: -70px;
  }
}
@media (max-width: 480px) {
  .wall {
    gap: 10px;
    padding: 100px 10px 0;
  }
  .checklist {
    flex: 3;
    padding-bottom: 60%;
  }
  .monitor {
    flex: 6;
    margin-bottom: -40px;
    margin-left: -130px;
  }
  .book {
    width: 50%;
    flex: 2.5;
    margin-bottom: -60px;
  }
  .desk {
    gap: 10px;
    padding: 90px 10px 80px;
  }
}
