html {
  scroll-behavior: smooth;
}
body {
  background: #fbeddc;
}

#shop_bed,
#shop_bath {
  margin-top: 80px;
}
#shop {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../img/shop/shop_bg_1920.svg) no-repeat center / cover;
  /* padding-bottom: 200px; */
}
#shop_sub_main {
  display: none;
}

.shop_objects {
  width: 100%;
  position: absolute;
  inset: 0;
  top: 50%;
  transform: translateY(-20%);
}

.shop_item {
  position: absolute;
  width: 30%;
}

/* hover 시 보이기 */
.shop_item img {
  width: 100%;
  display: block;
}

.kitchen {
  left: 3%;
  bottom: 12%;
}
.bedroom {
  left: 35%;
  bottom: 12%;
}
.bathroom {
  left: 67%;
  bottom: 12%;
}

/* 검색창 */
.search_box {
  width: 400px;
  margin: 160px auto 0;
  position: relative;
  display: block;
}
.search_bb {
  width: 118px;
  height: 118px;
  background: url(../img/shop_goods/search_bb.svg) no-repeat center;
  background-size: contain;

  position: absolute;
  left: -70px; /* input 왼쪽에 붙이기 */
  top: -60px; /* 위로 올리기 */
  z-index: 1;
}
.search_bb_arm {
  width: 40px;
  height: 39px;
  background: url(../img/shop_goods/search_bb_arm.svg) no-repeat center;
  background-size: contain;

  position: absolute;
  left: -18px;
  top: -4px;

  z-index: 5;
}
#search_input {
  width: 100%;
  height: 48px;
  border: 1.5px solid #888888;
  border-radius: 40px;
  padding-left: 35px;
  position: relative;
  z-index: 2;
  font-size: 16px;
}
#search_input::placeholder {
  color: #8b8b8b;
  font-weight: 600;
}
#search_input:focus {
  outline: none;
  box-shadow: none;
  border-color: #888888; /* 기본 테두리 색 유지 */
}
.plane_icon {
  width: 36px;
  height: 22px;
  background: url(../img/shop_goods/plane_icon.svg) no-repeat center;
  cursor: pointer;

  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

/* shop_goods */

.shop_goods,
#shop_goods {
  font-family: "Pretendard";
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.shop_category {
  max-width: 1060px;
  width: calc(100% - 32px);
  margin: 0 auto 20px;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
}
.shop_category_inner {
  position: relative;
  display: inline-block;
}

.shop_category_inner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #111;
}

/* 카테고리 탭 */
.shop_box_title {
  max-width: 1060px;
  margin: 100px auto 40px;
  font-size: 1.2rem;
  font-weight: 500;
}

.shop_box_title ul {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.shop_box_title ul li a {
  display: block;
  position: relative;
}

.shop_box_title ul li a:hover,
.shop_box_title ul li a.active {
  font-weight: 800;
}

.shop_box_title ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #111;
  border-radius: 999px;
}

/* fetch로 불러오는 상품 영역 */
.shop_box_iframe {
  max-width: 1200px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

.shop_box_iframe iframe {
  display: block;
  width: 100%;
  border: 0;
  overflow: hidden;
  transition: height 0.1s ease;
}

/* 슬라이드*/
.shop_slider_title {
  font-size: 1.2rem;
  font-weight: 600;

  max-width: 1060px;
  width: calc(100% - 32px);
  margin: 100px auto 23px;
}
.shop_slider {
  max-width: 1060px;
  width: calc(100% - 32px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.shop_slider .product_box {
  width: 100%;
  max-width: none;
}
.shop_slider .swiper-wrapper {
  align-items: flex-start;
}

/*슬라이드 화살표 */
.shop_slider .swiper-button-next,
.shop_slider .swiper-button-prev {
  width: 36px;
  height: 36px;

  color: rgba(77, 77, 77, 0.637);
  top: 50%;
  transform: translateY(-50%);
}
.shop_slider .swiper-button-next::after,
.shop_slider .swiper-button-prev::after {
  font-size: 14px;
  font-weight: bold;
}

/* 카드 */
.product_box {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
.img_shop {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  position: relative;
  overflow: hidden;
}
.img_shop img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.shop_link,
.shop_link:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

.shop_link:hover .img_shop img {
  transform: scale(1.08);
}

.shop_link:hover .brand,
.shop_link:hover .title {
  color: #757a7e;
}

.shop_link:hover .brand {
  text-decoration: underline;
}
.today_box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 5px;
  bottom: 5px;

  min-width: 63px;
  height: 22px;
  padding: 0 8px;

  background: #ff8800;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  box-sizing: border-box;
}
.shop_txt {
  padding-top: 10px;
}
.shop_txt ul {
  width: 100%;
  margin: 0 auto;
}
.shop_txt ul li {
  margin-bottom: 4px;
}

.shop_txt .brand {
  font-size: 0.8rem;
}
.title {
  width: 100%;

  font-size: 0.99rem;
  line-height: 1;

  /* 말줄임 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sale {
  font-size: 1rem;
  font-weight: 800;
  color: #ff8800;
  margin-right: 4px;
}

.price {
  font-size: 1rem;
  font-weight: 800;
  color: #111;
}

/* shop_box */
.shop_box {
  max-width: 1060px;
  width: calc(100% - 32px);
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 36px 26px;
  justify-content: center;
}
.shop_box .product_box {
  width: calc((100% - 26px * 3) / 4);
  max-width: 250px;
}
.shop_recommend {
  margin-top: 100px;
}

/* 카테고리별 배경색 */
body.bg-all {
  background-color: #fff;
}

body.bg-kit {
  background-color: #fff;
}

body.bg-bed {
  background-color: #fff;
}

body.bg-bath {
  background-color: #fff;
}

/* more */
.more_wrap {
  max-width: 1060px;
  margin: 60px auto 0;
  text-align: center;
}

.more {
  border: 0;
  background: transparent;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding-right: 14px;
}

/* more 호버시  추가상품 보이게 */
.shop_box .product_box:nth-child(n + 13) {
  display: none;
}
.shop_box.open .product_box:nth-child(n + 13) {
  display: block;
}

/* 기본 상태 (▼) */
.more i {
  display: inline-block;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

/* CLOSE 상태 + hover일 때만 ▲ */
.more.open:hover i {
  transform: rotate(180deg);
}
.three_btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 12px;
  pointer-events: none;
}
.heart,
.basket,
.top {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  opacity: 0;
  pointer-events: auto;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.heart {
  transition-delay: 0s;
}

.basket {
  transition-delay: 0.1s;
}

.top {
  transition-delay: 0.2s;
}

.heart.show,
.basket.show,
.top.show {
  opacity: 1;
  pointer-events: auto;
}
.top.show {
  transition-delay: 0s;
}

.basket.show {
  transition-delay: 0.1s;
}

.heart.show {
  transition-delay: 0.2s;
}
.heart img,
.basket img,
.top img {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}
.heart,
.basket,
.top {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  opacity: 0;
  pointer-events: auto;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  transition:
    opacity 0.3s ease,
    transform 0.15s ease;
  transform: scale(1);
}
.heart,
.basket,
.top {
  transition:
    opacity 0.3s ease,
    transform 0.15s ease;
  transform: scale(1);
}

.heart img,
.basket img,
.top img {
  transition: transform 0.15s ease;
}

.heart.clicked {
  transform: scale(0.72);
}

.basket.clicked,
.top.clicked {
  transform: scale(0.72);
}

.heart.clicked img {
  transform: scale(0.75);
}

.shop_slider .swiper-button-next,
.shop_slider .swiper-button-prev {
  color: #ffffff00;
}
#shop_kit,
#shop_bed,
#shop_bath {
  scroll-margin-top: 20px;
}
/* 미디어 쿼리 */
@media (max-width: 1400px) {
  #shop {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background: url(../img/shop/shop_bg_1920.svg) no-repeat bottom / cover;
    padding-bottom: 16%;
  }
  .shop_objects {
    margin-bottom: 0%;
  }
  .search_box {
    width: 350px;
  }
}
@media (max-width: 1024px) {
  .shop_kit,
  .shop_bed,
  .shop_bath {
    background-color: #fff;
    padding: 3% 30px;
    border-radius: 10px;
  }
  body {
    background: #a3c17e;
  }
  .today_box {
    min-width: 60px;
    background: #719246;
    color: #fff;
  }
  .sale {
    font-size: 1rem;
    font-weight: 800;
    color: #719246;
    margin-right: 4px;
  }
  #shop {
    background: url(../img/shop/shop_bg2_1024.svg) no-repeat center left / cover;
    height: 60vh;
    padding-bottom: 0;
  }
  .shop_objects {
    margin-top: 200px;
  }

  .shop_slider_title {
    margin: 0px auto 20px;
    font-size: 1.2rem;
  }

  .shop_box_title {
    margin: 50px auto 24px;
    font-size: 1.2rem;
  }

  .shop_box_title ul {
    gap: 16px;
  }

  .shop_box {
    width: 100%;
    max-width: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 28px 18px;
    justify-content: flex-start;
  }

  .shop_box .product_box {
    width: calc((100% - 36px) / 3);
    max-width: none;
  }

  .img_shop {
    aspect-ratio: 1 / 1;
  }

  .shop_category {
    width: 100%;
    margin: 0 0 20px;
  }
  .heart,
  .basket,
  .top {
    width: 45px;
    height: 45px;
  }
  .shop_recommend {
    background: #fff;
    border-radius: 10px;
    margin-top: 80px;
    padding: 20px 15px;
  }
  .shop_category_inner {
    font-size: 1rem;
  }
  .shop_recommend > .shop_category .shop_category_inner {
    padding-left: 20px;
  }
  .shop_recommend > .shop_category .shop_category_inner::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -6px;
    width: 86%;
    height: 2px;
    background: #111;
  }
}

@media (max-width: 768px) {
  #shop {
    height: 50vh;
  }
  .shop_objects {
    margin-top: 15%;
  }
  .search_box {
    width: 360px;
    margin: 110px auto 0;
    transform: translateX(-8px);
  }

  .input_box {
    width: 100%;
    margin: 0;
    position: relative;
  }

  #search_input {
    width: 100%;
    box-sizing: border-box;
  }

  .plane_icon {
    right: 16px;
  }

  .shop_slider_title {
    font-size: 1.15rem;
    margin: 0px auto 20px;
  }
  .shop_box_title {
    margin: 40px auto 20px;
    font-size: 1rem;
  }

  .shop_box_title ul {
    gap: 12px;
  }
  .shop_box {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    gap: 24px 12px;
    justify-content: flex-start;
  }

  .shop_box .product_box {
    width: calc((100% - 36px) / 3);
    max-width: none;
  }
  .img_shop {
    aspect-ratio: 1 / 1;
  }

  .heart,
  .basket,
  .top {
    height: 40px;
    width: 40px;
  }
  .search_bb,
  .search_bb_arm {
    display: none;
  }
  .search_input {
    background: none;
  }

  .shop_recommend .today_box {
    display: none;
  }
}
@media (max-width: 680px) {
  .shop_goods,
  #shop_goods {
    /* margin-bottom: 70px; */
    margin-top: -5%;
  }
  .search_box {
    width: 300px;
    margin: 130px auto 0;
    transform: translateX(-8px);
  }

  .shop_slider,
  .shop_slider_title,
  .shop_box_title,
  .shop_box_iframe {
    width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
  }

  .shop_slider_title {
    margin: 0px auto 20px;
    font-size: 1.1rem;
  }

  .shop_box_title {
    margin: 40px auto 20px;
    font-size: 0.95rem;
  }

  .shop_box_title ul {
    gap: 12px;
  }

  .shop_box {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    gap: 28px 12px;
    justify-content: center;
  }
  .shop_box .product_box {
    width: calc((100% - 12px) / 2);
    max-width: none;
  }

  .img_shop {
    aspect-ratio: 1 / 1;
  }

  .shop_txt .brand {
    font-size: 0.8rem;
  }

  .title {
    font-size: 0.9rem;
  }

  .sale,
  .price {
    font-size: 0.95rem;
  }

  .more_wrap {
    margin: 40px auto 0;
  }
  .shop_recommend {
    padding: 30px 10px;
  }
}

@media (max-width: 480px) {
  body {
    background: #fff;
  }
  .shop_box {
    padding-bottom: 80px !important;
  }
  .shop_goods,
  #shop_goods {
    width: 100%;
    padding-bottom: 100px;
  }
  .search_box {
    display: none;
  }
  .today_box {
    min-width: 55px;
    height: 20px;
    padding: 0 8px;
    font-size: 11px;
    background-color: #ff8800;
  }
  .shop_slider,
  .shop_slider_title {
    display: none;
  }

  .shop_slider .product_box {
    display: none;
  }
  .shop_box_title {
    width: calc(100% - 45px);
    margin: 80px auto 24px;
    font-size: 1rem;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 500;
  }

  .shop_box_title ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .shop_box_title ul li {
    flex: 1;
    text-align: center;
  }

  .shop_box_title ul li a {
    display: inline-block;
    padding: 14px 0 12px;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
  }

  .shop_box_title ul li a.active {
    font-weight: 800;
  }

  .shop_box {
    width: calc(100% - 24px);
    gap: 20px 12px;
  }

  .shop_box .product_box {
    width: calc((100% - 12px) / 2);
    max-width: none;
  }

  .img_shop {
    aspect-ratio: 3 / 4;
  }

  .shop_txt .brand {
    font-size: 0.85rem;
  }

  .title {
    font-size: 0.85rem;
  }

  .price,
  .sale {
    font-size: 0.9375rem;
  }
  .sale {
    color: #ff8800;
  }
  .search_box {
    margin: 60px auto 0;
  }

  .more_wrap {
    margin: 0px auto 0;
    margin-bottom: 40px;
  }

  .shop_box .product_box:nth-child(-n + 4) {
    display: block; /* 기존 숨김 해제 */
  }
  #shop {
    display: none;
  }
  #shop_main {
    display: none;
  }
  #shop_sub_main {
    display: block;
  }

  #shop_sub_main .more_wrap {
    display: none;
    width: calc(100% - 24px);
    margin: 30px auto 80px;
    text-align: center;
  }

  #shop_sub_main .more_wrap.is_show {
    display: block;
  }

  #shop_sub_main .more {
    border: 0;
    background: transparent;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
    color: #111;
  }

  #shop_sub_main .more i {
    display: inline-block;
    margin-left: 6px;
  }

  #shop_sub_main .shop_box {
    padding-bottom: 0 !important;
  }

  #shop_sub_main .shop_box.active_box {
    padding-bottom: 80px !important;
  }

  #shop_sub_main .shop_box .product_box:nth-child(n + 13) {
    display: block;
  }
}
