#footer {
  width: 100%;
  background: #742209;
  position: relative;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.footer_inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

#footer ul li {
  font-family: "eunzzang", sans-serif !important;
}

.footer_inner .section2 {
  width: 50%;
  display: flex;
  color: #edded9;
  font-size: 22px;
  justify-content: space-between;
}
.footer_inner .section2 ul {
}

.footer_inner .section2 .section2-4 a {
  display: block;
  color: #edded9;
}

.footer_desc span {
  display: block;
}

.section2 .footer_title {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 22px;
}

.footer_inner .section3 {
  display: flex;
  gap: 15px;
}
.footer_inner .section3 a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  line-height: 0;
}
/* 아이콘 기본 */
.instagram,
.youtube {
  display: inline-block;
  width: 28px;
  height: 28px;

  transition: transform 0.2s;
}

/* 배경 이미지 */
.instagram {
  background: url(../../img/main/instagram.svg) no-repeat center / contain;
}

.youtube {
  background: url(../../img/main/youtube.svg) no-repeat center / contain;
}

/* 흔들림 애니메이션 */
@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-6deg) scale(1.05);
  }
  50% {
    transform: rotate(6deg) scale(1.08);
  }
  75% {
    transform: rotate(-4deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* hover 시 흔들림 */
.instagram:hover,
.youtube:hover {
  animation: shake 0.4s ease-in-out;
}
/* 미디어 쿼리 */
@media (max-width: 1200px) {
  .logo_footer {
    width: 90px;
  }
  .footer_inner .section2 {
    font-size: 19px;
    width: 70%;
  }
  @media (max-width: 1024px) {
    .logo_footer {
      display: none;
    }
    .footer_inner .section2 {
      font-size: 17px;
      width: 70%;
    }
  }
}
